{{define "title"}}{{.Title}} - Recipes{{end}}

{{define "body"}}{{.Body}}{{end}}

{{define "extra_head"}}
  <script>
    let wakeLock = null;

    async function requestWakeLock() {
      try {
        wakeLock = await navigator.wakeLock.request("screen");
        console.log("Wake lock acquired");

        wakeLock.addEventListener("release", () => {
          console.log("Wake lock released");
        });
      } catch (err) {
        console.error(`Error getting wake lock: ${err.name}, ${err.message}`);
      }
    }

    // Wrap in a function to allow for early return if the feature isn't enabled.
    (function(){
      // Keep screen awake when the page is visible
      // https://developer.mozilla.org/en-US/docs/Web/API/Screen_Wake_Lock_API
      if (!("wakeLock" in navigator)) {
        console.warn("wake lock not supported in this browser");
        return;
      }

      requestWakeLock();

      // Reacquire wake lock when page is visible again.
      document.addEventListener("visibilitychange", async () => {
        if (wakeLock !== null && document.visibilityState === "visible") {
          requestWakeLock();
        }
      });
    })();
  </script>

{{end}}
